modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Browser Server"

[[workflows.workflow]]
name = "Browser Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start --port 5000"
waitForPort = 5000
